html {
  height: 100%;
}

body {
  background-color: #d3d3d3;
  margin: 0px;
  padding: 0px;
  height: 100%;
  overscroll-behavior-y: contain;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  .layer {
    padding: 0px;
    margin: 0px;

    .node {
      &.selected {
        border: rgb(21, 161, 255) 1px solid;
        box-shadow: 0 0 5px 5px rgba(21, 200, 255, 0.2);
      }
    }

    &.debug {
      pointer-events: none;
    }
    
    &.render {
      position: absolute;  
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
    }

    &.select {
      position: absolute;
      background-color: rgba($color: #a9f9ff, $alpha: 0.2);
      border: rgba($color: #0084ff, $alpha: 0.9) solid 1px;
    }
  }

  .context-menu {
    position: absolute;
    padding: 0px;
    margin: 0px;
    ul {
      padding: 0px;
      margin: 0px;
    }

    li {
      border: black 1px solid;
      padding: 10px 30px;
      background-color: white;
      list-style-type: none;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: #f3f3f3;
      }
    }
  }

  .node {
    position: absolute;
    
    .default {
      background-color: #a0a0a0;
      width: 32px;
      height: 32px;
      border: black 1px solid;
      text-align: center;
    }
  }
}

.debug .bounding-box {
  position: absolute;
  border-color: rgb(255, 0, 0);
  border-width: 3px;
  border-style: dashed;
}

.debug-info-overlay {
  pointer-events: none;
  position: fixed;
  transform: none;
  font-size: 0.9em;
  top: 0px;
  left: 0px;
  padding: 10px 0px;
  display: flex;

  .label {
    padding: 5px 20px;
    margin: 0px 10px;
    border-radius: 12px;
    border: black 2px solid;
    background-color: rgba(91, 157, 233, 0.514);
  }
}

.omni-flow-new-path-overlay {
  stroke-width: 5px;
  stroke: rgba(41, 184, 153, 0.2);
}

.omni-flow-path-path-overlay {
  // opacity: 0.3;
  stroke: rgba(41, 184, 153, 0);
}

.omni-flow-path-path-overlay:hover,
.omni-flow-path-path-overlay.dragging {
  // opacity: 1;
  stroke: rgba(41, 184, 153, 0.2);
  filter: drop-shadow(#0084ff);
}

.omni-flow-path-path.dragging {
  stroke: #545454;
}