@import './variables';
@import './mixins/analyze-mode';

.flow-start-element {
  .flow-start-element-header {
      width: 300px;
      height: 60px;
      border-radius: 2px;
      background-color: $flow-selected-color;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 0 2px 0 rgba(0, 0, 0, 0.1);

      &:hover {
          box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.4), 0 0 2px 0 rgba(0, 0, 0, 0.1);
      }

      .icon {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .title {
          position: absolute;
          left: 60px;
          top: 10px;
          height: 20px;
          font-family: $font-family-base;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #ffffff;

          &--trigger {
              top: 28px;
              text-transform: capitalize;
          }
      }

      .text {
          position: absolute;
          left: 60px;
          top: 30px;
          height: 20px;
          opacity: 0.7;
          font-family: $font-family-base;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.67;
          letter-spacing: normal;
          color: #ffffff;
          width: 200px;
      }

      .trigger-label {
          position: absolute;
          top: 10px;
          left: 60px;
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 18px;
          text-transform: uppercase;
          color: white;
      }

      &.warning {
          border: 1px solid $flow-warning-color;
          border-radius: 2px;
      }

      &.danger {
          border: 1px solid $flow-error-color;
          border-radius: 2px;
      }
  }


  .ib-flow-decision-path {
      top: 60px;
  }

  .ib-flow-decision-group-decisions {
      top: 40px;
  }

  .ib-flow-decision-group-shnipple-wrapper {
      top: 71px;
  }
}

.flow-stop-element {
  width: 130px;
  height: 40px;
  border-radius: 55px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(84, 84, 84, 0.15), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  cursor: default;

  .icon {
      position: absolute;
      left: 18px;
      top: 13px;
  }

  .title {
      position: absolute;
      left: 42px;
      top: 10px;
      height: 21px;
      font-family: $font-family-base;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      color: #545454;
  }

  &.warning {
      border-color: $flow-warning-color;
  }

  &.danger {
      border-color: $flow-error-color;
  }
}

.flow-pause-element {
    width: 125px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 8px 5px -5px rgba(84, 84, 84, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid transparent;

    .icon {
        position: absolute;
        left: 12px;
        top: 10px;

        img {
            width: 30px;
            height: 30px;
            padding: 4px;
        }
    }

    .title {
        position: absolute;
        left: 45px;
        top: 5px;

        height: 20px;
        font-family: $font-family-base;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        color: #545454;
    }

    .text {
        position: absolute;
        left: 45px;
        top: 25px;
        height: 20px;
        font-family: $font-family-base;
        font-size: 12px;
        line-height: 1.67;
        color: #b4b4b4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65px;
    }

    &.warning {
        border-color: $flow-warning-color;
    }

    &.danger {
        border-color: $flow-error-color;
    }
}

.ib-flow-action-group {
    $parent: &;
  
    position: relative;
    width: 300px;
    height: 80px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(84, 84, 84, 0.15), 0 0 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    padding: 10px 16px 10px 12px;
  
    &:hover {
      box-shadow: 0 8px 5px -5px rgba(84, 84, 84, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.1);
  
      .ib-flow-group-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  
    /* Override menu styling */
    .ib-flow-group-menu {
      &-dropdown {
        left: 58px;
        top: 55px;
      }
    }
  
    &.active-flow {
      border-color: $flow-color-action-active;
    }
  
    &.warning {
      border-color: $flow-warning-color !important;
      @include style-for-analyze-mode(border-color);
  
      #{$parent}-left-border {
        background-color: transparent;
      }
    }
  
    &.danger {
      border-color: $flow-error-color !important;
  
      #{$parent}-left-border {
        background-color: transparent;
      }
    }
  
    &-left-border {
      position: absolute;
      left: -1px;
      top: -1px;
      bottom: -1px;
      width: 4px;
  
      /* Default group type: 'Channel' */
      background-color: $flow-element-group-color--channel;
  
      /* Group type 'IVR' */
      #{$parent}--ivr & {
        background-color: $flow-element-group-color--ivr;
      }
  
      /* Group type 'Function' */
      #{$parent}--function & {
        background-color: $flow-element-group-color--function;
      }
    }
  
    &-icon {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 12px;
  
      img {
        width: 30px;
        height: 30px;
        padding: 3px;
      }
    }
  
    &-title {
      height: 20px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      text-align: left;
      color: #545454;
    }
  
    &-subject-text {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      height: 20px;
      font-size: 12px;
      line-height: 1.67;
      text-align: left;
      color: #545454;
    }
  
    &-message-text {
      height: 40px;
      font-size: 12px;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #b4b4b4;
      overflow: hidden;
  
      &--email {
        top: 40px;
        height: 20px;
      }
  
      &--failover {
        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  
    &-actions {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      height: 20px;
      display: flex;
      align-items: center;
  
      > i {
        width: 20px;
        height: 20px;
        opacity: 0.5;
        font-size: 16px;
        margin: 0;
        padding: 2px;
        display: flex;
  
        &::before {
          margin: 0;
        }
      }
    }
}

.ib-flow-decision-group {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 60px;
  border-radius: 2px;
  background-color: #7383bf;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
  }

  &:hover {
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 8px 5px -5px rgba(0, 0, 0, 0.20);

      .ib-flow-group-menu {
          visibility: visible;
          opacity: 1;
      }
  }

  /* Override menu styling */
  .ib-flow-group-menu {
      background: transparent;

      &-toggle {
          background: transparent;

          &:hover {
              background: rgba(255, 255, 255, 0.2);
              border-radius: 50%;
          }
      }

      &-ellipsis-dot {
          background-color: #fff;
      }

      &-dropdown {
          left: 58px;
          top: 45px;
      }
  }

  //&-bg-warning {
  //    stroke: #f0ad4e;
  //}
  //
  //&-bg-danger {
  //    stroke: #c81414;
  //}

  &-icon {
      position: absolute;
      top: 22px;
      left: 22px;
      width: 16px;
      height: 16px;

      img {
          width: 100%;
          height: 100%;
          vertical-align: unset;
      }
  }

  &-text-container {
      position: absolute;
      left: 59px;
      top: 10px;
      right: 16px;
  }

  &-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      line-height: 1.43;
      letter-spacing: 0.05em;
      color: #fff;
  }

  &-description {
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 20px;
      font-size: 12px;
      font-weight: 300;
      text-align: left;
      line-height: 1.67;
      letter-spacing: 0.05em;
      color: #fff;
      opacity: 0.5;
  }

  & .omni-flow-group-menu {
      opacity: 0;
      visibility: hidden;
      top: 25px;
      right: 12px;
  }

  &:hover .omni-flow-group-menu {
      opacity: 1;
      visibility: visible;
  }

  &-shnipple-wrapper {
      position: absolute;
      top: 91px;
      left: 15px;
      width: 30px;
      height: 30px;

      .connecting-line {
          position: absolute;
          height: 1px;
          border-bottom: solid 1px #545454;
          width: 8px;
          left: -8px;
          top: 14px;
      }
  }

  &-shnipple-wrapper-remove {
      z-index: 0;
      position: absolute;
      top: 20px;
      left: 270px;
      width: 30px;
      height: 30px;
  }

  &-shnipple {
      width: 30px;
      height: 30px;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 2px 2px 0 rgba(0, 0, 0, 0.15);

      &:not(.disabled):hover {
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 8px 5px -5px rgba(0, 0, 0, 0.20);
      }

      &.disabled {
          background-color: #fafafa;
          cursor: default !important;
          pointer-events: all !important;

          img {
              opacity: 0.4;
          }
      }
  }

  &-decisions {
      position: absolute;
      top: 60px;
      left: 0;
  }
}

.ib-flow-decision {
  position: absolute;
  left: 0;
  right: 0;

  &-text-cont {
      z-index: 0;
      position: absolute;
      top: 20px;
      left: 53px;
      width: 210px;
      height: 30px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: normal;
      color: #545454;
      cursor: pointer;
      overflow: hidden;


      &--empty {
          color: #b4b4b4;
      }

      &--else {
          background: #f7f7f7;
      }
  }

  &-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 8px 8px 8px 13px;
  }

  &-progress {
      height: 100%;
      background: #00000026;
      position: absolute;
  }

  &-metric {
      position: absolute;
      right: 3px;
      top: 8px;
      right: 8px;
      color: #b4b4b4;
  }

  &-connector {
      z-index: 0;
  }

  &-shnipple-wrapper {
      z-index: 0;
      position: absolute;
      top: 10px;
      right: 15px;
      width: 30px;
      height: 30px;
  }

  &-shnipple-wrapper-remove {
      z-index: 0;
      position: absolute;
      top: 20px;
      left: 270px;
      width: 30px;
      height: 30px;
  }

  &-shnipple {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 2px 2px 0 rgba(0, 0, 0, 0.15);

      &:hover {
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10), 0 8px 5px -5px rgba(0, 0, 0, 0.20);
      }

      &--remove {
          background-color: #c84714;
      }
  }

  &-path {
      //z-index: -1;
      position: absolute;
      top: 80px;

      .omni-flow-path-path {
          stroke-width: 1.2px;
      }
  }
}

@import "../scripts/components/flow-nodes/dropdown/dropdown.scss";